body {	
    font-family: sans-serif;
	padding: 10px;
	background-color: #EDEDED;
}
p{
	font: 18px Arial, sans-serif;

}
.header{
	background-color: #7CA2A9;
}
.header img{
	background-color: #DDEDF7;
}
.content{
	background-color: #E1E1E1;
}
.right{
	padding-left: 10px;
	border-left: 2px solid grey;
}
.rss li{
	margin-top: 5px;
	border-bottom: 1px solid blue;
}
footer{
	background-color: #7CA2A9;
	padding: 10px;
}
iframe, video{
	max-width: 100%;
}
form{
	2px solid black;
}
.container{
	padding: 10px;
	margin-bottom: 10px;
	border: 2px solid black;
}
.message:hover{
	background-color: #B2CFE0;
}
div.gallery {margin: 0 auto; width: 660px;}
        div.image { display: inline-block; }
        div.image img { width: 200px; }
* {
  box-sizing: border-box;
}
.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
